/* font style for all wbsite  */
body {
  font-family: "Roboto", sans-serif;
}
header {
  background: rgba(229, 84, 115, 0.1);
}
/* banner-section  */
.banner-container {
  display: flex;
  gap: 97px;
}
.banner-column {
  margin: 197px 97px 147px 240px;
}
.banner-image {
  width: 635px;
  height: 800px;
  margin: 50px 240px 0px 0px;
  /* padding-bottom: -80px; */
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
}
/* fetured section  */
.fetured-container {
  margin: 170px 240px;
}
.fetured-image {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.flower-image1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 76px 0px;
}
.flower-image2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px;
}
.flower-image3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px;
}
.fetured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.fetured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  padding: 0px 500px;
}
/* manu section  */
.manu-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 170px 280px;
}
.manu-column {
  padding: 86px 100px 86px 175px;
}
/* deal offer section  */
.deal-container {
  display: flex;
  gap: 186px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  height: 620px;
}

.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 40;
  margin-top: 24px;
}
.deal-offer {
  padding-left: 395px;
  text-align: center;
}
.deal-image {
  padding-right: 429px;
}
.deal-btn {
  padding: 20px 43px;
  margin-top: 32px;
}
/* instagram cetagory  */
.instagram-item {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0px 280px;
}
.instagram-title {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram-message {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 20px 663px 48px;
}
/* latest deal section  */
.latest-deal {
  background-image: url("../images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  height: 500px;
  margin: 124px 270px;
}
.deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 132px;
}
.deal-coupon {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-weight: 400;
}
.submit-form {
  text-align: center;
  margin: 48px;
  margin-bottom: 121px;
}
.email-submit {
  width: 700px;
  padding: 23px 22px;
  border: none;
}
.btn-submit {
  height: 64px;
  padding: 19px 31px;
  border: none;
  margin-left: 16px;
}
/* extra my crushed flower  */
.flower-container {
  display: flex;
  justify-content: center;
  gap: 95px;
}
.flower-item img {
  border-radius: 30%;
}
.flower-item .image-2 {
  border-radius: 70%;
}
.flower-title {
  text-align: center;
  font-size: 67px;
  font-weight: 400px;
}
.flower-post {
  text-align: center;
  padding: 0px 663px 19px;
}
/* footer section  */
footer {
  background: #3a3939;
  height: 500px;
  text-align: center;
}
.footer-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  padding-top: 128px;
}
.footer-content {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding: 24px 648px;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
